<!DOCTYPE html>
<html lang="en" class="dark-theme">
    <head>
        <script src="/scripts/patterns.js" type="module" defer></script>
        
        <link rel="stylesheet" href="/styles/patterns.css">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@geist-ui/style@latest/dist/style.css">
    </head>
    <body>
        <div class="row navbar">
            <h1>Stock Patterns</h1>
            <div class="items">
                <a href="/" class="nav-btn">Hub</a>
                <a href="/patterns" class="nav-btn selected">Patterns</a>
                <a href="https://github.com/jnile/StockAnalyserHub" class="nav-btn" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>
        <div class="row flex-column">
            <h2>One Candlestick Patterns</h2>
            <table id="oneCandlePatternsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Img</th>
                        <th>Trend</th>
                        <th>Signal</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody id="oneCandlePatternsTableBody">

                </tbody>
            </table>
        </div>
        
    </body>
</html>