* {
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.row {
    display: flex;
    justify-content: center;
    margin-inline: 0%;
    width: clamp(500px, 70%, 100%); 
    margin: 0 auto;
}

#chart-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-btns-wrapper {
    margin-bottom: 5px;
}

.charts-wrapper {
    flex-direction: column;
}

.active {
    background-color: rgb(0, 57, 0) !important;
}

.BULLISH, .BULLISH_REVERSAL {
    font-weight: 700;
    color: rgb(160, 221, 160);
}

.BEARISH, .BEARISH_REVERSAL {
    font-weight: 700;
    color: rgb(221, 160, 160);
}